[Desktop Entry]
Name=3d-coat
Name[zh_CN]=3D-Coat
Comment=The English Comment
Comment[zh_CN]=3D-Coat数字雕刻软件V4.5.14
Exec=/opt/deepin-apps-fix/3d-coat/files/run.sh
Terminal=false
Icon=/opt/apps/3d-coat/entries/icons/hicolor/scalable/apps/3D-Coat.png
Categories=Development
Type=Application
TryExec=/opt/apps/3d-coat/files/run.sh
