[Desktop Entry]
Name[cs]=Goodvibes
Name[nl]=Goodvibes
Name[fr]=Goodvibes
Name[nb_NO]=Goodvibes
Name[de]=Goodvibes
Name[ru]=Goodvibes
Name=goodvibes
GenericName[cs]=Přehrávač rádia
GenericName[nl]=Radiospeler
GenericName[fr]=Lecteur radio
GenericName[nb_NO]=Radioavspiller
GenericName[de]=Radio-AbspielprogrammRadio-Player
GenericName[ru]=Радио-проигрыватель
GenericName[es]=Reproductor de Radio
GenericName=goodvibes
Comment[cs]=Přehrát webové rádio
Comment[nl]=Internetradiostations afspelen
Comment[fr]=Écouter des radios web
Comment[nb_NO]=Spill av nettradio
Comment[de]=Webradios abspielen
Comment[ru]=Воспроизведение веб-радиостанций
Comment[es]=Escuchar radios online
Comment=Play web radios
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[cs]=Audio;Radio;Přehrávač;Zvuk;
Keywords[nl]=Audio;Radio;Speler;
Keywords[fr]=Audio;Radio;Player;
Keywords[nb_NO]=Lyd;Radio;Avspiller;Nettradio;
Keywords[de]=Audio;Radio;Player;Webradio;
Keywords[ru]=Аудио;Радио;Проигрыватель;
Keywords[es]=Audio;Radio;Reproductor;
Keywords=Audio;Radio;Player;
Categories=GTK;AudioVideo;Audio;Player;
Type=Application
# TRANSLATORS: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[cs]=io.gitlab.Goodvibes
Icon[nl]=io.gitlab.Goodvibes
Icon[fr]=io.gitlab.Goodvibes
Icon[nb_NO]=io.gitlab.Goodvibes
Icon[de]=io.gitlab.Goodvibes
Icon[ru]=io.gitlab.Goodvibes
Icon[hu]=io.gitlab.Goodvibes
Icon[es]=io.gitlab.Goodvibes
Icon=io.gitlab.Goodvibes
Exec=/opt/deepin-apps-fix/com.gitlab.goodvibes.goodvibes/files/bin/goodvibes.sh U%
DBusActivatable=true
MimeType=audio/*;
TryExec=/opt/apps/com.gitlab.goodvibes.goodvibes/info
