[Desktop Entry]
# Translators: This is the App name, don't translate this.
Name=Rnote
Comment[de]=Zeichne und mache handschriftliche Notizen
Comment[es]=Dibujar y tomar notas a mano
Comment[he]=ציור ורישום הערות בכתב יד
Comment[it]=Disegna e prendi appunti a mano
Comment[nl]=Maak schetsen en handgeschreven aantekeningen
Comment[sv]=Skissa och gör handskrivna anteckningar
Comment[uk]=Малюй та роби нотатки
Comment[pt_BR]=Esboce e tome notas de forma manuscrita
Comment[fr]=Dessinez et prenez des notes manuscrites
Comment[zh_Hans]=素描与手写笔记
Comment[zh_Hant]=素描與手寫筆記
Comment[pl]=Szkicuj i rób odręczne notatki
Comment[tr]=Eskiz yap ve el yazısıyla notlar al
Comment[hu]=Vázlatolj és készíts kézzel írt jegyzeteket
Comment[ta]=கையால் எழுதப்பட்ட குறிப்புகளை வரைந்து எடுக்கவும்
Comment[th]=วาดและจดโน๊ตด้วยปากกา
Comment[ru]=Делайте наброски и рукописные заметки
Comment[ar]=ارسم واكتب ملاحظات بيدك
Comment[bn]=স্কেচ করুন এবং হাতে লেখা নোটগুলি নিন
Comment[mk]=Скицирајте и пишувајте ракописни белешки
Comment[ko]=스케치 및 손글씨 메모 작성하기
Comment[vi]=Phác thảo và viết ghi chú
Comment[bs]=Skicirajte i vodite bilješke
Comment[ms]=Lakar dan ambil nota bertulis tangan
Comment[id]=Buat skesta dan catatan tulis tangan
Comment[pt]=Esboce e tire apontamentos manuscritos
Comment[fa]=طراحی کنید و یادداشت بردارید
Comment[cs]=Skicujte a dělejte si ručně psané poznámky
Comment[hi]=स्केच बनाएं और हस्तलिखित नोट्स लें
Comment=Sketch and take handwritten notes
# Translators: Do NOT translate or transliterate this text, this is an icon file name!
Icon=com.github.flxzt.rnote
#DBusActivatable=true
Exec=/opt/deepin-apps-fix/com.github.flxzt.rnote/files/run.sh %f
Terminal=false
MimeType=application/rnote;image/svg+xml;image/png;image/jpeg;application/pdf;application/x-xopp;
Type=Application
Categories=GNOME;GTK;Graphics;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[de]=Gnome;GTK;Büro;Grafik;Notizen;
Keywords[es]=Gnome;GTK;Office;Graphics;Notes;Oficina;Gráficos;Notas;
Keywords[he]=‫Gnome;GTK;כלים משרדיים;אופיס;גרפיקה;הערות;פנקס;רישומים;תרשימים;
Keywords[it]=Gnome;GTK;Office;Grafica;Note;
Keywords[nl]=Gnome;GTK;Kantoor;Grafisch;Foto;Aantekeningen;Notities;
Keywords[uk]=Gnome;GTK;Офіс;Графіка;Примітки;
Keywords[pt_BR]=Gnome;GTK;Office;Gráficos;Notas;
Keywords[fr]=Gnome;GTK;Office;Dessin;Notes;Bureau;Graphisme;
Keywords[zh_Hans]=Gnome;GTK;Office;图形;笔记;
Keywords[zh_Hant]=Gnome;GTK;Office;圖形;筆記;
Keywords[pl]=Gnome;GTK;biuro;grafika;notatki;
Keywords[tr]=Gnome;GTK;Office;Graphics;Notes;Ofis;Grafik;Not;Notlar;
Keywords[hu]=Gnome;GTK;Irodai;Grafika;Jegyzetek;
Keywords[ta]=க்னோம்;ஜிடிகே;அலுவலகம்;கிராபிக்ஸ்;குறிப்புகள்;
Keywords[th]=โนม;จีทีเค;ออฟฟิศ;กราฟิก;โน๊ต;
Keywords[ja]=Gnome;GTK;オフィス;グラフィック;メモ;ノート;
Keywords[ru]=Gnome;GTK;Офис;Графика;Заметки;
Keywords[ar]=جنوم;GTK;مكتب;رسوميات;ملاحظات;
Keywords[bn]=নোম;জিটিকে;অফিস;চিত্রলেখ;নোটস;
Keywords[mk]=Gnome;GTK;Канцеларија;Графика;Белешки;
Keywords[ko]=Gnome;GTK;Office;Graphics;Notes;그놈;오피스;그래픽;메모;
Keywords[vi]=Gnome;GTK;Office;Đồ Họa;Ghi Chú;
Keywords[bs]=Gnome;GTK;Kancelarija;Grafika;Bilješke;
Keywords[id]=Gnome;GTK;Office;Graphics;Catatan;
Keywords[pt]=Gnome;GTK;Escritório;Gráficos;Notas;
Keywords[fa]=Gnome;GTK;آفیس;گرافیک;یادداشت;طراحی;
Keywords[cs]=Gnome;GTK;Office;Graphics;Notes;
Keywords=Gnome;GTK;Office;Graphics;Notes;
StartupNotify=true
Actions=new-window
TryExec=/opt/apps/com.github.flxzt.rnote/files/root/usr/share/udhcpc/default.script

[Desktop Action new-window]
Name[de]=Neues Fenster
Name[es]=Ventana nueva
Name[he]=חלון חדש
Name[it]=Nuova Finestra
Name[nl]=Nieuw venster
Name[sv]=Nytt Fönster
Name[uk]=Нове вікно
Name[pt_BR]=Nova janela
Name[fr]=Nouvelle Fenêtre
Name[nb_NO]=Nytt vindu
Name[zh_Hans]=新建窗口
Name[zh_Hant]=新建視窗
Name[pl]=Nowe okno
Name[tr]=Yeni Pencere
Name[hu]=Új ablak
Name[ta]=புதிய விண்டோ
Name[th]=หน้าต่างใหม่
Name[ja]=新しいウィンドウ
Name[ru]=Новое окно
Name[ar]=نافذة جديدة
Name[bn]=নতুন উইন্ডো
Name[mk]=Нов прозорец
Name[ko]=새 창
Name[vi]=Cửa Sổ Mới
Name[bs]=Novi Prozor
Name[ms]=Tetingkap Baharu
Name[id]=Jendela Baru
Name[pt]=Nova Janela
Name[fa]=پنجره‌ی جدید
Name[cs]=Nové okno
Name[hi]=नई विंडो
Name=New Window
Exec=/opt/apps/com.github.flxzt.rnote/files/run.sh %f
TryExec=/opt/apps/com.github.flxzt.rnote/files/root/usr/share/udhcpc/default.script
