[Desktop Entry]
Categories=Game;
Comment=AdaGate
Exec=/opt/deepin-apps-fix/com.github.adagate/files/bin/adagate.sh
GenericName=AdaGate
Icon=com.github.adagate
Name=AdaGate
StartupNotify=true
Type=Application
X-Deepin-ManualID=deepin-calculator
X-Deepin-Vendor=deepin
X-Deepin-TurboType=dtkwidget
TryExec=/opt/apps/com.github.adagate/info
