[Desktop Entry]
Encoding=UTF-8
Name=TeamSpeak3
Exec=/opt/deepin-apps-fix/com.teamspeak.teamspeak3-client/files/bin/TeamSpeak.sh
Icon=teamspeak3.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;
TryExec=/opt/apps/com.teamspeak.teamspeak3-client/files/TeamSpeak3-Client-linux_amd64/package_inst
