[Desktop Entry]
Categories=Utility;Calculator;
Comment=adaventure
Exec=/opt/deepin-apps-fix/com.github.adaventure/files/bin/adaventure.sh
GenericName=adaventure
Icon=com.github.adaventure
Name=adaventure
StartupNotify=true
Type=Application
X-Deepin-ManualID=deepin-calculator
X-Deepin-Vendor=deepin
X-Deepin-TurboType=dtkwidget
TryExec=/opt/apps/com.github.adaventure/info
